@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.upload {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background-color: lightgreen;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 42%;
  border: 3px solid rgb(245, 245, 245);
  border-radius: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.background {
  background: rgba(0, 0, 0, 0.7) url(../img/img3.jpg);
  background-size: cover;
  background-blend-mode: darken;
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 31px 34px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.rightnav {
  /* background-color: blue; */
  width: 30%;
  text-align: right;
  padding: 0 23px;
}

#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid greenyellow;
  border-radius: 9px;
}

#btn btn-sm a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.btn {
  padding: 8px 20px;
  margin: 7px 6px;
  border: 2px solid white;
  border-radius: 50px;
  background: none;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 255, 191);
}

.btn-dark {
  color: black;
  border: 2px solid black;
}
