{% extends 'base.html' %}
 {% load static %} {% block content %}
<link
  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<style>
  * {
    font-family: sans-serif;
    /* Change your font family */
  }

  table {
    align-items: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  tbody {
    overflow: auto;
  }

  thead tr {
    background-color: rgba(84, 167, 73, 0.7);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }

  tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

  #table-wrapper {
    position: relative;
    margin-left: 2em;
  }

  #table-wrapper table {
    width: 100%;
  }

  #table-wrappe table thead th .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 20px;
    width: 35%;
  }

  #table-scroll {
    height: 450px;
    width: 1300px;
    overflow: auto;
    margin-top: 20px;
  }

  .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3), 4px 7px 15px rgba(0, 0, 0, 0.2),
      9px 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    width: 20%;
    height: 0em;
    margin-top: 3em;
    margin-bottom: 0.9em;
    flex: 1;
  }

  button {
    outline: none;
    border: none;
    padding: 0.9rem 0.9rem;
    font-size: 0.4rem;
  }

  input {
    width: 10%;
    height: 0em;
    text-align: center;
    outline: none;
    border: none;
    padding: 0.9rem 0.9rem;
    font-size: 1rem;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button {
    cursor: pointer;
  }

  button:nth-last-child(1) {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }

  button:nth-child(1) {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  button:hover {
    background-color: #e6e6e6;
  }

  button:nth-last-child(1):active {
    box-shadow: inset -4px 5px 10px rgba(0, 0, 0, 0.5);
  }

  button:nth-child(1):active {
    box-shadow: inset 4px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .btn-group {
    display: flex;
  }

  label {
    margin-right: 6px;
  }
</style>

<!-- <div class="upload">
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="number" name="fromNum" value="0" />
    <label for="from">From</label>
    <input type="number" name="toNum" value="10" />
    <label for="to">To</label>
    <button type="submit">Go</button>
  </form>
</div> -->

<div class="btn-group">
  <div class="input-group">
    <label class="label" for="from">From</label>
    <button id="decrement1">
      <i class="fa fa-minus" style="font-size: 10px"></i>
    </button>
    <input type="number" id="input_f" onchange="func1()" value="0" />
    <button id="increment1">
      <i class="fa fa-plus" style="font-size: 10px"></i>
    </button>
  </div>

  <div class="input-group">
    <label class="label" for="to">To</label>
    <button id="decrement2">
      <i class="fa fa-minus" style="font-size: 10px"></i>
    </button>
    <input type="number" id="input_t" onchange="func2()" value="0" />
    <button id="increment2">
      <i class="fa fa-plus" style="font-size: 10px"></i>
    </button>
  </div>
</div>

<script>
  let counter1 = 0;
  let counter2 = 0;

  // ------------------------- 1
  function increment1() {
    counter1++;
  }

  function decrement1() {
    counter1--;
  }

  function get1() {
    return counter1;
  }

  function set1(x) {
    counter1 = x;
  }

  const inc1 = document.getElementById("increment1");
  const input1 = document.getElementById("input_f");
  const dec1 = document.getElementById("decrement1");

  inc1.addEventListener("click", () => {
    increment1();
    input1.value = get1();
  });

  dec1.addEventListener("click", () => {
    if (input1.value > 0) {
      decrement1();
    }
    input1.value = get1();
  });

  function func1() {
    counter1 = document.getElementById("input_f").value;
  }

  // ----------------- 2
  function increment2() {
    counter2++;
  }

  function decrement2() {
    counter2--;
  }

  function get2() {
    return counter2;
  }

  function set2(x) {
    counter2 = x;
  }

  const inc2 = document.getElementById("increment2");
  const input2 = document.getElementById("input_t");
  const dec2 = document.getElementById("decrement2");

  inc2.addEventListener("click", () => {
    increment2();
    input2.value = get2();
  });

  dec2.addEventListener("click", () => {
    if (input2.value > 0) {
      decrement2();
    }
    input2.value = get2();
  });

  function func2() {
    counter2 = document.getElementById("input_t").value;
  }
</script>

<div id="table-wrapper">
  <div id="table-scroll">{{data|safe}}</div>
</div>

{% endblock %}
